body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(circle at top right, #240032, #330044, #3c0052);
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 99%;
    gap: 2rem;
}

.pricing-plan {
    flex: 1;
    width: 370px;
    max-width:  400px;
    background: radial-gradient(circle at bottom , #982286, #b862a8, #e1bbd9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.plan-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-features {
    list-style: none;
    margin: 10px;
}

.plan-features li {
    padding: 10px;
}

.plan-button {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: radial-gradient(circle, #520c61, #7c1779, #982286);
    color: #fff;
    font-weight: bolder;
    box-shadow: 0 0 8px rgb(242, 147, 242);
}

@media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
        height: 99%;
    }
    
}